// In `sass/main.scss`
@import 'mixin';
@import 'sanitize';

// fonts
@font-face { font-family: 'Interstate-BlackCond'; src: url("../fonts/Interstate-BlackCond.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Interstate-Bold'; src: url("../fonts/Interstate-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Interstate-BoldCond'; src: url("../fonts/Interstate-BoldCond.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Interstate-Regular'; src: url("../fonts/Interstate-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

// variables
$font-blackCond: "Interstate-BlackCond", sans-serif; 
$font-Bold: "Interstate-Bold", sans-serif; 
$font-BoldCond: "Interstate-BoldCond", sans-serif; 
$font-reg: "Interstate-Regular", sans-serif; 

$font-title: "Interstate-BlackCond", sans-serif; 
$font-copy: 'Open Sans', sans-serif;

$black: #231f20;
$white: #fff;
$pink: #d8b3c4;

html, body { height: 100%; margin: 0; padding: 0; }

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
.landing_page {
	padding: 0;
	width: 1070px;
	margin: 0 auto;
	padding-top: 30px;
	color: #333;
	@include font-size(12px);
	line-height: 1.5;
	font-family: $font-copy;
	font-weight: 400;
	font-weight: normal;
	color: $black;
	text-align: center;
	strong {
		font-weight: 600;
	}

	h1,h2,h3,h4, .title, .subtitle, .small_title {
		font-family: $font-title;
		text-transform: uppercase;
		line-height: 100%;
		margin: 0;
		font-weight: bold;
	}
	h3.stitle {
		font-family: $font-copy;
		@include font-size(13.5px);
		line-height: 130%;
		margin-bottom: 15px;
		font-weight: 400;
	}

	.ffblackc {
		font-family: $font-blackCond !important;
	}
	.ffbold {
		font-family: $font-Bold !important;
	}
	.ffboldc {
		font-family: $font-BoldCond !important;
	}
	.ffreg {
		font-family: $font-reg !important;
	}
	a {
		text-decoration: none;
	}
	p {
		margin: 0;
	}
	img {
		height: auto;
		max-width: 100%;
	}
	sup {
		position: relative;
		top: -0.25em;
		font-size: 70%;
	}

	article {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	section {
		margin-left: auto;
		margin-right: auto;
		clear: both;
		width: 945px;
		overflow: hidden;
		// padding-top: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid #e1e1e1;
		&.no-border {
			border-bottom: 0;
		}
		&.full-width {
			width: 1070px; 
		}
		p {
			margin-bottom: 20px;
			a {
				text-decoration: none;
				font-weight: 600;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.title {
			letter-spacing: 0.5px;
			@include font-size(20px);
			margin-bottom: 20px;
			span {
				display: block;
			}
			&.no-margin {
				margin: 0;
			}
		}
	}
	.container_cta {
		clear: both;
	}
	.cta { 
		color: $black;
		text-transform: uppercase;
		font-family: $font-title;
		line-height: 38px;
		height: 38px;
		clear: both; 
		letter-spacing: 1px;
		padding-right: 45px;
		padding-left: 45px;
		margin-bottom: 40px;
		font-weight: normal;
		display: inline-block;
		border: 2px solid #000;
		transition: all 250ms ease-in-out;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
	.link {
		font-weight: 800;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.center {
		display: table;
		width: 100%;
		.alignMiddle {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.underline {
		text-decoration: underline;
	}
	.clear {
		clear: both;
	}
	.col {
		float: left;
		width: 50%;
		img {
			display: block;
		}
		p:last-child {
			margin-bottom: 5px;
		}
	}
	.mb-fix {
		margin-bottom: 30px;
	}
	.alignMiddle {
		height: 266px;
		p {
			padding: 0 25px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.maxwidth {
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
	}
	.bold {
		font-size: 115%;
		font-weight: 600;
		&.lrg {
			padding-top: 3px;
			font-size: 115%;
			line-height: 125%;
			span {
				display: block;
			}
		}
	}

	header {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-bottom: 20px;
		border-bottom: 1px solid transparent;
		width: 945px;
		background: url(../images/bg_header.jpg) center top no-repeat;
		article {
			padding-top: 290px;
			margin-left: auto;
			margin-right: auto;
		}
		.h1 {
			margin-bottom: 15px;
			@include font-size(83px);
			line-height: 95%;
			span {
				display: block;
				line-height: 95%;
			}
		}
		.title {
			@include font-size(23px);
			margin-bottom: 20px;
		}
		p {
			width: 780px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}
	
	ul.list {
		overflow: hidden;
		width: 858px;
		margin-left: auto;
		margin-right: auto;
		li {
			vertical-align: top;
			display: inline-block;
			width: 33%;
			> div {
				margin: 0 9px;
			}
		}
		&.list-4 {
			width: 1060px;
			li {
				vertical-align: top;
				display: block;
				float: left;
				width: 25%;
				> div {
					margin: 0 1px;
				}
			}
			.caption {
				height: 140px;
			}
		}
		figure {
			margin-bottom: 17px;
		}
		img {
			display: block;
		}
		.title {
			@include font-size(20px);
			margin-bottom: 15px;
			padding: 0 15px;
		}
		.tagline {
			font-size: 110%;
			strong {
				font-weight: 600;
			}
			font-size: 100%;
			padding: 0 10px;
		}
		em {
			font-style: italic;
		}
		p {
			padding: 0 5px;
			margin-bottom: 0;
		}
	}
}